<%- include('header') %>
        </br></br>
    <div class="title">
    <H1>—NodeJS 学习笔记</H1>
    </div>
    <div class="main">
    <H2>目录</H2>
    </div>
     </br>
    <div class="catalog">
  <div class="four wide column">
</div>
  <div class="eight wide column">
      <div class="field required">
        <a href="/public/111" style="text-decoration:none;text-algin:right;">1.1 安装 Node.js</a>
      </div>
      </br>
      <div class="field required">
        <a href="/public/121" style="text-decoration:none;text-algin:right;">1.2 安装和启动 MongoDB</a>
      </div>
      </br>
      <% if (user) { %>
      <div class="field required">
       <a href="/public/21" style="text-decoration:none;text-algin:right;"> 2.1 require的使用</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/22" style="text-decoration:none;text-algin:right;"> 2.2 exports 和 module.exports</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/23" style="text-decoration:none;text-algin:right;"> 2.3 Promise</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/24" style="text-decoration:none;text-algin:right;"> 2.4 环境变量</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/25" style="text-decoration:none;text-algin:right;"> 2.5 package.json</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/26" style="text-decoration:none;text-algin:right;"> 2.6 npm 使用注意事项</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/31" style="text-decoration:none;text-algin:right;"> 3.1 初始化一个 Express 项目</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/32" style="text-decoration:none;text-algin:right;"> 3.2 路由</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/33" style="text-decoration:none;text-algin:right;"> 3.3 模板引擎</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/34" style="text-decoration:none;text-algin:right;"> 3.4 Express 浅析</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/41" style="text-decoration:none;text-algin:right;"> 4.1 开发环境</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/42" style="text-decoration:none;text-algin:right;"> 4.2 准备工作</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/43" style="text-decoration:none;text-algin:right;"> 4.3 配置文件</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/44" style="text-decoration:none;text-algin:right;"> 4.4 功能设计</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/45" style="text-decoration:none;text-algin:right;"> 4.5 页面设计</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/46" style="text-decoration:none;text-algin:right;"> 4.6 连接数据库</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/47" style="text-decoration:none;text-algin:right;"> 4.7 注册</a>
      </div>
      </br>
      <div class="field required">
       <a href="/public/48" style="text-decoration:none;text-algin:right;"> 4.8 登出与登录</a>
      </div>
      <% } %>
   </div>
<%- include('footer') %>